.tagsIndex{

}
.tagsIndex_heading1{
  margin: 10px 0;
  border-bottom: 1px solid #f3f3f3;
}
.tagsIndex_heading1_text{
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0 ;
}
.tagsIndex_search_box{
  
}
.tagsIndex_search_form{
  
}
.tagsIndex_search_searchField{

}
.tagsIndex_search_commit{

}
.tagsIndex_tags{

}
.tagsIndex_tag{

}
.tagsIndex_tag_info_box{

}
.tagsIndex_tag_tagName{

}
.tagsIndex_tag_projectCount{

}
.tagsIndex_tag_projects{

}