.tagsIndex{
  width: 100%;
}
.tagsIndex_tags{
  margin-top: 10px;
}
.tagsIndex_tag{
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
}
.tagsIndex_tag_info_box{
  display: flex;
  justify-content: space-between;
}
.tagsIndex_tag_tagName{
  font-size: 20px;
  font-weight: bold;
}
.tagsIndex_tag_projectCount{
  font-size: 14px;
  color: gray;
  font-weight: bold;
}
.tagsIndex_tag_projects{
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid gray;
}
.tagsIndex_tag_showLink{
  margin-top: 15px;
  text-align: right;
}