<%= turbo_frame_tag user do %>
  <% if user.followed_by?(current_user) %>
    <%= link_to(user_relationships_path(user_id: user.id), data: {turbo_confirm: "「#{user.nickname}」へのフォローを解除します。よろしいですか？", turbo_method: :delete, turbo_frame: "follow-button-#{user.id}" }, class: "link", style: "color: black;") do %>
      <div class= "project_userFollowed_btn">フォローを解除する</div>
    <% end %>
  <% else %>
    <%= link_to(user_relationships_path(user_id: user.id), data: {turbo_method: :post, turbo_frame: "follow-button-#{user.id}" }, class: "link", style: "color: black;") do %>
      <div class= "project_userFollowing_btn">フォローする</div>
    <% end %>
  <% end %>
<% end %>