.search_box{
  width: 100%;
}
.search_form{
  display: flex;
}
.search_searchField{
  padding: 10px 15px;
  border-radius: 10px;
  width: 60%;
}
.search_commit{
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}