<div class= "form_wrapper">

  <div class= "form_title_box">
    <span class= "form_title">プロジェクト編集</span>
  </div>

  <div class= "form_container">
    <%= render "form", { url: project_path(@project.id), method: :patch, commit_text: "更新" } %>
  </div>

</div>