<div class= "form_wrapper">

  <div class= "form_title_box">
    <span class= "form_title">プロジェクト新規作成</span>
  </div>

  <%= render "form", { url: projects_path, method: :post, commit_text: "作成" } %>

</div>