<div class= "form_wrapper">
  
  <div class= "form_title_box">
    <div class= "form_title">プロジェクト新規作成</div>
  </div>

  <div class= "form_container">
    <%= render "form", { url: projects_path, method: :post } %>
  </div>

</div>