.project{
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border-bottom: 1px solid #c0c6c9;
}
.project_header_container{
  display: flex;
  justify-content: space-between;
}
.project_user_box{
  display: flex;
  align-items: center;
}
.project_userNickname{
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}
.project_userFollow{}
.project_userFollowed_btn{
  padding: 5px;
  background-color: #f5b1aa;
  border-radius: 8px;
  font-size: 12px;
}
.project_userFollowed_btn:hover{
  background-color: #f2a0a1;
}
.project_userFollowing_btn{
  padding: 5px;
  background-color: #a0d8ef;
  border-radius: 8px;
  font-size: 12px;
}
.project_userFollowing_btn:hover{
  background-color: #89c3eb;
}
.project_created_at{
  font-size: 12px;
  color: gray;
}
.project_title{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.project_tags_box{
  margin-top: 5px;
  display: flex;
}
.project_tag{
  font-size: 12px;
  padding: 7px;
  background-color: #c0c6c9;
  margin-right: 10px;
  border-radius: 5px;
}
.project_footer_container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.project_reaction_box{
  display: flex;
}
.project_comment{
  margin-right: 15px;
  font-size: 12px;
}
.project_like{
  margin-right: 15px;
  font-size: 12px;
}
.project_read{
  margin-right: 15px;
  font-size: 12px;
}
.project_noneDisplay{
  background-color: gray;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  padding: 5px;
}