.projectShow{
  width: 100%;
}
.projectShow_heading_container{
  display: flex;
  justify-content: space-between;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid #c0c6c9;
}
/* .projectShow_heading_left{} */
.projectShow_heading_box{
  display: flex;
  align-items: center;
}
.projectShow_reaction_box{
  margin-left: 20px;
  display: flex;
}
.projectShow_comment_count{
  margin-right: 10px;
}
.projectShow_like{
  padding: 0 10px;
}
.projectShow_projectTags{
  margin-top: 10px;
  display: flex;
}
.projectShow_projectTag{
  font-size: 12px;
  padding: 7px;
  background-color: #c0c6c9;
  color: black;
  margin-right: 10px;
  border-radius: 5px;
}
.projectShow_heading_right{
  display: flex;
  align-items: end;
}
.projectShow_overall_achievement{
  font-size: 12px;
}
.projectShow_overall_achievement_rate{
  font-size: 18px;
  font-weight: bold;
}
.projectShow_projectDescription_box{
  margin: 10px 0;
}
.projectShow_projectDescription{
  margin-top: 15px;
}
.projectShow_project_info{
  display: flex;
  width: 100%;
  height: 80px;
}
.projectShow_projectOwner_box{
  width: 50%;
  padding: 10px 0;
}
.projectShow_projectOwner{
  line-height: 40px;
}
.projectShow_projectCreated_at_box{
  width: 50%;
  padding: 10px;
}
.projectShow_projectCreated_at{
  line-height: 40px;
}
.projectShow_projectManagement_box{
  display: flex;
}
.projectShow_projectEdit{
  padding: 10px;
  border-radius: 3px;
  background-color: #a0d8ef;
  margin-right: 20px;
}
.projectShow_projectEdit:hover{
  background-color: #89c3eb;
}
.projectShow_projectDelete{
  padding: 10px;
  border-radius: 3px;
  background-color: #f5b1aa;
}
.projectShow_projectDelete:hover{
  background-color: #f2a0a1;
}
.projectShow_checkIns_dateRange{
  width: 100%;
  margin: 10px 0;
  background-color: #f3f3f3;
  padding: 15px;
}
.projectShow_checkIns_dateRange_form{
  border-top: 1px solid #dcdddd;
}
.projectShow_checkIns_dateRange_startDate{
  margin: 10px 0;
  width: 100%;
}
/* .projectShow_checkIns_dateRange_startDateField_label{}
.projectShow_checkIns_dateRange_startDateField{} */
.projectShow_checkIns_dateRange_endDate{
  width: 100%;
}
/* .projectShow_checkIns_dateRange_endDate_label{}
.projectShow_checkIns_dateRange_endDateField{} */
.projectShow_checkIns_dateRange_commit{
  margin-top: 10px;
  padding: 0 20px;
}
.projectShow_checkIns_table_navigation_box{
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.projectShow_checkIns_table_navigation_back,
.projectShow_checkIns_table_navigation_next{
  width: 50%;
  text-align: center;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.projectShow_checkIns_table_navigation_back:hover,
.projectShow_checkIns_table_navigation_next:hover{
  text-decoration: underline;
}
.projectShow_checkIns_table_box{
  background-color: #f9f9f9;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.projectShow_checkIns_table{
  width: 100%;
  border-collapse: collapse;
  scroll-snap-align: start;
}
.projectShow_checkIns_table_head{
  background-color: #727171;
  color: #fff;
  min-width: 60px;
}
.projectShow_checkIns_table_row{
  border-bottom: 1px solid #ddd;
}
.projectShow_checkIns_table_row:hover{
  background-color: #f0f0f0;
}
.projectShow_checkIns_table_header{
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
/* .projectShow_checkIns_table_body{} */
.projectShow_checkIns_table_data{
  min-width: 60px;
  padding: 8px;
  text-align: center;
}
.projectShow_checkIns_table_checkInForm{
  display: inline-block;
}
.projectShow_checkIns_table_checkbox{
  width: 18px;
  height: 18px;
}
.projectShow_habits{
  width: 100%;
  margin: 20px 0;
}
.projectShow_habits_heading_box{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.projectShow_habits_create_button{
  padding: 10px;
  background-color: #a0d8ef;
  color: black;
}
.projectShow_habits_create_button:hover{
  background-color: #89c3eb;
}
.projectShow_habits_table_box{
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.projectShow_habits_table{
  width: 100%;
  border-collapse: collapse;
  scroll-snap-align: start;
}
.projectShow_habits_table_head{
  background-color: #727171;
  color: #fff;
}
.projectShow_habits_table_row{
  border-bottom: 1px solid #ddd;
}
.projectShow_habits_table_row:hover{
  background-color: #f0f0f0;
}
.projectShow_habits_table_header{
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
/* .projectShow_habits_table_body{} */
.projectShow_habits_table_data{
  padding: 8px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* 600px以下の画面幅に対するスタイル */
  td, th {
    font-size: 12px;
  }
}
/* comment *****************************************************************************/
.projectShow_comments_container{
  margin: 20px 0;
}
.projectShow_comments_heading{
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #c0c6c9;
}
.projectShow_comment_form{
  display: flex;
  width: 100%;
}
.projectShow_comment_textarea{
  width: 90%;
  line-height: 20px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px 0 0 10px ;
}
.projectShow_comment_commit{
  width: 10%;
  padding: 5px;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
}
.projectShow_comments_box{
  margin: 10px 0;
}
.projectShow_comment{
  border-radius: 5px;
  padding: 10px;
}
.projectShow_comment:hover{
  background-color: #c0c6c9;
}
.projectShow_comment_header_box{
  display: flex;
  justify-content: space-between;
}
/* .projectShow_comment_user{} */
.projectShow_comment_createdAt{
  color: gray;
}
.projectShow_comment_text{
  padding: 10px;
  line-height: 20px;
}
.projectShow_comment_management_box{
  text-align: right;
}
.projectShow_comment_deleteBtn{
  padding: 5px;
  text-decoration: none;
  color: black;
}
/* /comment *****************************************************************************/
