.userFollowList{
  width: 100%;
}
.userFollowList_header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.userFollowList_backBtn{
  margin-right: auto;
  font-size: 20px;
}
.userFollowList_myUserNickname{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}
.userFollowList_btn_box{
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 50px;
  margin: 10px auto;
}
.userFollowList_follow_btn{
  width: 50%; height: 100%;
  text-decoration: none;
  color: gray;
}
.userFollowList_follow_btn_box{
  width: 100%; height: 100%;
  text-align: center;
}
.userFollowList_follow_btn_box:hover{
  background-color: #c0c6c9;
}
.userFollowList_follow_btn_text{
  height: 100%;
  text-align: center;
  line-height: 50px;
  padding-bottom: 5px;
}
.active{
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}
/* .userFollowList_users{} */
.userFollowList_user{
  padding: 10px 0;
  border-bottom: 1px solid #c0c6c9;
}
.userFollowList_user_info_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .userFollowList_userNickname_box{} */
.userFollowList_userNickname{
  font-weight: bold;
}
/* .userFollowList_userEmail{} */
/* .userFollowList_followBtn{} */
.userFollowList_profile{
  margin-top: 5px;
}