.userShow{
  width: 100%;
}
.userShow_userInfo_container{
  margin: 10px 0;
}
.userShow_userInfo_box{
  display: flex;
  align-items: center;
}
.userShow_userFollow_btn{
  margin-left: 5px;
}
.userShow_userInfo_email{
  margin-top: 5px;
}
.userShow_userFollow_container{
  display: flex;
  gap: 20px;
}
.userShow_userFollow_box{
  display: flex;
  gap: 5px;
}
/* .userShow_userFollow_count{} */
.userShow_userFollow_text{
  color: gray;
}
.userShow_userProfile_box{
  margin-top: 20px;
}
.userShow_userProfile{
  margin-top: 15px;
  min-height: 100px;
  line-height: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c6c9;
}
.userShow_userManagement_box{
  margin-top: 20px;
  display: flex;
  width: 100%;
}
.userShow_userProjects_container{
  margin-top: 20px;
}
.userShow_userProjects_tab_box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto 20px;
}
.userShow_myProject_tab{
  width: 50%;
  height: 50px;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  color: gray;
  cursor: pointer;
}
.userShow_myProject_tab:hover{
  background-color: #c0c6c9;
}
.userShow_myProject_tab_text{
  font-size: 16px;
}
.userShow_likedProject_tab{
  width: 50%;
  height: 50px;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  color: gray;
  cursor: pointer;
}
.userShow_likedProject_tab:hover{
  background-color: #c0c6c9;
}
.userShow_likedProject_tab_text{
  font-size: 16px;
}
.userShow_myProjects_container{
  margin-top: 20px;
}
.userShow_projectNew_box{
  margin: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.userShow_projectNew_message{
  font-size: 16px;
  font-weight: bold;
}
.userShow_projectNew_link{
  width: 60%;
  text-decoration: none;
  margin: 5px auto;
  padding: 20px;
  background-color: #595857;
  color: white;
  font-weight: bold;
}
.userShow_projectNew_link:hover{
  opacity: 0.8;
}
.userShow_likedProjects_container{
  margin-top: 20px;
}
