.userShow{
  width: 100%;
}
.userShow_heading_container{
  display: flex;
  justify-content: space-between;
}
.userShow_userNickname_box{}
.userShow_userEmail{}
.userShow_follow_container{}
.userShow_follower_box{}
.userShow_follower_heading{}
.userShow_follower_count{}
.userShow_following_box{}
.userShow_following_heading{}
.userShow_following_count{}
.userShow_userProfile_box{}
.userShow_userProfile{}
.userShow_account_container{}
.userShow_userManagement_box{}
.userShow_userEdit_btn{}
.userShow_userDelete_btn{}
.userShow_follow_btn{}
.userShow_userProjects_container{}
.userShow_userProjects_heading{}
.userShow_userProjects_box{}