<div class= "form_wrapper">

  <div class= "form_title_box">
    <span class= "form_title">習慣　編集</span>
  </div>

  <%= render "form", { url: project_habit_path(project_id: @project.id, id: @habit.id), commit_text: "更新" } %>

</div>
