<div class= "form_wrapper">

  <div class= "form_title_box">
    <span class= "form_title">習慣　新規作成</span>
  </div>

  <%= render "form", { url: project_habits_path(@project), commit_text: "作成" } %>

</div>

